#button {
    -fx-font: 14px "serif";
    -fx-padding: 2;
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

#button:hover {
    fx-font: 14px "serif";
    -fx-padding: 2;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.toggle-button {
    -fx-font: 14px "serif";
    -fx-font-weight: bold;
}